In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("X:\\Neil\\Code\\coding IEEE\\CSV\\tvmarketing.csv")

# Data

In [4]:
data

        TV  Sales
0    230.1   22.1
1     44.5   10.4
2     17.2    9.3
3    151.5   18.5
4    180.8   12.9
..     ...    ...
195   38.2    7.6
196   94.2    9.7
197  177.0   12.8
198  283.6   25.5
199  232.1   13.4

[200 rows x 2 columns]

# Stats

In [15]:
print("Value Count = ", len(data))
print("Mean TVs: ", data['TV'].mean())
print("Mean Sales: ", data['Sales'].mean())
print("Standard Deviation TVs: ", data['TV'].std())
print("Standard Deviation Sales: ", data['Sales'].std())
print("Minimum TVs: ", data['TV'].min())
print("Minimum Sales: ", data['Sales'].min())
print("Maximum TVs: ", data['TV'].max())
print("Maximum Sales: ", data['Sales'].max())
print("25% of TVs: ", data['TV'].quantile(0.25))
print("25% of Sales: ", data['Sales'].quantile(0.25))
print("50% of TVs: ", data['TV'].quantile(0.50))
print("50% of Sales: ", data['Sales'].quantile(0.50))
print("75% of TVs: ", data['TV'].quantile(0.75))
print("75% of Sales: ", data['Sales'].quantile(0.75))

Value Count =  200
Mean TVs:  147.0425
Mean Sales:  14.022500000000003
Standard Deviation TVs:  85.8542363149081
Standard Deviation Sales:  5.217456565710477
Minimum TVs:  0.7
Minimum Sales:  1.6
Maximum TVs:  296.4
Maximum Sales:  27.0
25% of TVs:  74.375
25% of Sales:  10.375
50% of TVs:  149.75
50% of Sales:  12.9
75% of TVs:  218.825
75% of Sales:  17.4